.courses[data-v-07011c5c] {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center
}

.courses .course[data-v-07011c5c] {
    width: 46%;
    margin: 2%;
    background: #007179;
    background: linear-gradient(130deg,#175760,#007179 30%,#2ba8b1);
    text-align: right;
    border-radius: 10px
}

.courses .course a[data-v-07011c5c] {
    color: #fff;
    display: block;
    width: 90%;
    padding: 100px 5% 5%;
    text-decoration: none
}

@media screen and (max-width: 550px) {
    .courses .course[data-v-07011c5c] {
        width:80%
    }
}
